main {
	width: 70%;
	display: inline-block;
	vertical-align: top;
}

aside {
	width: calc(30% - 26px);
	display: inline-block;
	margin-left: 20px;
	box-sizing: border-box;
	border: solid 1px;
}

p {
	line-height: 2;
	width: 60%;
	display: inline-block;
	padding-right: 10px;
	box-sizing: border-box;
	vertical-align: top;
	margin: 0;
}

.imgarea {
	height: 150px;
	width: calc(40% - 6px);
	background-color: #ccc;
	display: inline-block;
}

@media screen and (min-width: 481px) {
	/*　画面サイズが481px以上の場合ここの記述が適用される　*/
	p {
    width: 100%;
    margin: 0px 0 10px 0;
    color: #FF0000;
	}
	
	main {
    width: 70%;
    float: left;
	}
	
	.imgarea {
    width: 100%;
    background-color: #FF0000;
	}
	
	aside {
    width: 30%;
    float: right;
	margin: 0 0 0 0;
	}
}


@media screen and (max-width:480px) {
	/*　画面サイズが480px以下の場合ここの記述が適用される　*/
	p {
    width: 100%;
    margin: 0px 0 10px 0;
    color: #0000FF;
	}

	main {
		width: 100%;
	}

	.imgarea {
		width: 100%;
		background-color: #0000FF;
	}

	aside {
		width: 100%;
		margin: 30px 0 0 0;
	}
}

















